<a href="https://colab.research.google.com/github/Punxoxo/uri-exercisesPY/blob/main/Uri_Problems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem #1000

In [ ]:
print("Hello World!")

Hello World!

Problem #1001

In [ ]:
A = int(input())
B = int(input())
X = 0
X = A + B
print("X =",X)

10
9
X = 19

Problem #1002

In [ ]:
n = 3.14159
R = float(input())
A = n*(R*R)
print('A={:.4f}'.format(A))

2
A=12.5664

Problem #1003

In [ ]:
A = int(input())
B = int(input())
SOMA = A + B
print("SOMA =",SOMA)

30
10
SOMA = 40

Problem #1004

In [ ]:
a = int(input())
b = int(input())
PROD = a*b
print("PROD =",PROD)

3
9
PROD = 27

Problem #1005

In [ ]:
# W = 3.5
A = float(input())
# W = 7.5
B = float(input())
MEDIA = ((A*3.5)+(B*7.5))/(3.5+7.5)
print("MEDIA = {:.5f}".format(MEDIA))

5
7.1
MEDIA = 6.43182

Problem #1006

In [ ]:
# A = 2 // B = 3 // C = 5
A = float(input())
B = float(input())
C = float(input())
MEDIA = ((A*2) + (B*3) + (C*5))/(2+3+5)
print("MEDIA = {:.1f}".format(MEDIA))

5
6
7
MEDIA = 6.3

Problem #1007

In [ ]:
A = int(input())
B = int(input())
C = int(input())
D = int(input())
DIFERENCA = (A*B) - (C*D)
print("DIFERENCA =",DIFERENCA)

5
6
7
8
DIFERENCA = -26

Problem #1008

In [ ]:
num = int(input())
work = int(input())
amoun = float(input())
total = work*amoun
print("NUMBER =",num)
print("SALARY = U$ {:.2f}".format(total))

25
100
5.50
NUMBER = 25
SALARY = U$ 550.00

Problem #1009

In [ ]:
name = input()
sal = float(input())
sold = float(input())
total = sal + ((sold*15)/100)
print("TOTAL = R$ {:.2f}".format(total))

JOAO
500
1230.30
TOTAL = 684.54

Problem #1010

In [ ]:
total = [0,0,0,0]
for i in range(2):
  code, unit, price = [float(n) for n in input().split()]
  total[i] = price
  total[i+2] = unit
resu = total[0]*total[2]+total[1]*total[3]
print("VALOR A PAGAR: R$ {:.2f}".format(resu))

13 2 15.30
161 4 5.20
VALOR A PAGAR: R$ 51.40

Problem #1011

In [ ]:
R = float(input())
pi = 3.14159
VOLUME = (4/3.0)*pi*(R*R*R)
print("VOLUME = {:.3f}".format(VOLUME))

3
VOLUME = 113.097

Problem #1012

In [ ]:
A,B,C = [float(x) for x in input().split()]
pi = 3.14159
Atri = (A*C)/2
Acir = pi*(C*C)
Atrap = ((A+B)*C)/2
Asqua = B*B
Arec = A*B
print("TRIANGULO: {:.3f}".format(Atri))
print("CIRCULO: {:.3f}".format(Acir))
print("TRAPEZIO: {:.3f}".format(Atrap))
print("QUADRADO: {:.3f}".format(Asqua))
print("RETANGULO: {:.3f}".format(Arec))

3 4 5.2
TRIANGULO: 7.800
CIRCULO: 84.949
TRAPEZIO: 18.200
QUADRADO: 16.000
RETANGULO: 12.000

Problem #1013

In [ ]:
a,b,c = [int(x) for x in input().split()]
maior = ((a+b+abs(a-b)))/2
MaiorAB = ((maior+c+abs(maior-c)))/2
print("{:.0f} eh o maior".format(MaiorAB))

217 14 6
217 eh o maior

Problem #1014

In [ ]:
X = int(input())
Y = float(input())
m = X/Y
print("{:.3f} km/l".format(m))

500
35
14.286 km/l

Problem #1015

In [ ]:
import math
x1,y1 = [float(n) for n in input().split()]
x2,y2 = [float(k) for k in input().split()]
dis = pow(x2-x1,2)+pow(y2-y1,2)
resu = math.sqrt(dis)
print("{:.4f}".format(resu))

2.5 -0.4
-12.2 7
16.4575

Problem #1016

In [ ]:
x = int(input())
resu = x*2
print(resu,"minutos")

30
60 minutos

Problem #1017

In [ ]:
time = int(input())
speed = int(input())
liters = time*speed/12
print("{:.3f}".format(liters))

22
67
122.833

Problem #1018

In [ ]:
# 100,50,20,10,5,2,1 <- Banknotes
N = int(input())
if 0<N and N<1000000:
  if N>=100:
    x = N//100
    y = N-(x*100)
    N = y
    print("{} nota(s) de R$ 100,00".format(x))
  else:
    print("0 nota(s) de R$ 100,00")
  if N>=50:
    x = N//50
    y = N-(x*50)
    N = y
    print("{} nota(s) de R$ 50,00".format(x))
  else:
    print("0 nota(s) de R$ 50,00")
  if N>=20:
    x = N//20
    y = N-(x*20)
    N = y
    print("{} nota(s) de R$ 20,00".format(x))
  else:
    print("0 nota(s) de R$ 20,00")
  if N>=10:
    x = N//10
    y = N-(x*10)
    N = y
    print("{} nota(s) de R$ 10,00".format(x))
  else:
    print("0 nota(s) de R$ 10,00")
  if N>=5:
    x = N//5
    y = N-(x*5)
    N = y
    print("{} nota(s) de R$ 5,00".format(x))
  else:
    print("0 nota(s) de R$ 5,00")
  if N>=2:
    x = N//2
    y = N-(x*2)
    N = y
    print("{} nota(s) de R$ 2,00".format(x))
  else:
    print("0 nota(s) de R$ 2,00")
  if N>=1:
    x = N//1
    y = N-(x*1)
    N = y
    print("{} nota(s) de R$ 1,00".format(x))
  else:
    print("0 nota(s) de R$ 1,00")

11257
112 nota(s) de R$ 100,00
1 nota(s) de R$ 50,00
0 nota(s) de R$ 20,00
0 nota(s) de R$ 10,00
1 nota(s) de R$ 5,00
1 nota(s) de R$ 2,00
0 nota(s) de R$ 1,00

Problem #1018 V2

In [ ]:
N = int(input())
bn = [100,50,20,10,5,2,1]
print(N)
for i in bn:
  if N>=i:
    x = N//i
    y = N-(x*i)
    N = y
    print("{} nota(s) de R$ {},00".format(x,i))
  else:
    print("0 nota(s) de R$ {},00".format(i))

576
5 nota(s) de R$ 100,00
1 nota(s) de R$ 50,00
1 nota(s) de R$ 20,00
0 nota(s) de R$ 10,00
1 nota(s) de R$ 5,00
0 nota(s) de R$ 2,00
1 nota(s) de R$ 1,00

Problem #1019

In [ ]:
# seconds to hours and minutes
# 3600s = 1h
n = int(input())
time = [3600,60,1]
res = [0,0,0]
for i in range(3):
  if n>=time[i]:
    x = n//time[i]
    n = n-(x*time[i])
    res[i] = x
print("{}:{}:{}".format(res[0],res[1],res[2]))

140153
38:55:53

Problem #1020

In [ ]:
# year = 365/month = 30
d = int(input())
res = [0,0,0]
time = [365,30,1]
for i in range(3):
  if d>=time[i]:
    x = d//time[i]
    d-=x*time[i]
    res[i] = x
print("{} ano(s)".format(res[0]))
print("{} mes(es)".format(res[1]))
print("{} dia(s)".format(res[2]))

800
2 ano(s)
2 mes(es)
10 dia(s)

Problem #1021

In [ ]:
notes = [100,50,20,10,5,2]
coins = [1,.5,.25,.1,.05,.01]
n = float(input())
n += 0.001
print("NOTAS:")
for i in notes:
  x = n//i
  n %= i
  print("{} nota(s) de R$ {}.00".format(int(x),i))
print("MOEDAS:")
for i in coins:
  x = n//i
  n %= i
  print("{} moeda(s) de R$ {:.2f}".format(int(x),i))

576.73
NOTAS:
5 nota(s) de R$ 100.00
1 nota(s) de R$ 50.00
1 nota(s) de R$ 20.00
0 nota(s) de R$ 10.00
1 nota(s) de R$ 5.00
0 nota(s) de R$ 2.00
MOEDAS:
1 moeda(s) de R$ 1.00
1 moeda(s) de R$ 0.50
0 moeda(s) de R$ 0.25
2 moeda(s) de R$ 0.10
0 moeda(s) de R$ 0.05
3 moeda(s) de R$ 0.01

Problem #1035

In [ ]:
A,B,C,D = [int(x) for x in input().split()]
if B > C and D > A and (C+D) > (A+B) and C > 0 and D > 0 and A%2 == 0:
  print('Valores aceitos')
else:
  print('Valores nao aceitos')

2 3 2 6
Valores aceitos

Problem #1036

In [ ]:
import math
A,B,C = [float(i) for i in input().split()]
delta = pow(B,2)-(4*A*C)
if delta < 0 or math.sqrt(delta) == B:
  print('Impossivel calcular')
else:
  bhaskara1 = (-B+math.sqrt(delta))/(2*A)
  bhaskara2 = (-B-math.sqrt(delta))/(2*A)
  print('R1 = {:.5f}'.format(bhaskara1))
  print('R2 = {:.5f}'.format(bhaskara2))

10 20.1 5.1
R1 = -0.29788
R2 = -1.71212

Problem #1037

In [ ]:
x = float(input())
intervalo = [-1,25,50,75,100]
resp = ['Intervalo [0,25]','Intervalo (25,50]','Intervalo (50,75]','Intervalo (75,100]']
if x < 0 or x > 100:
  print('Fora de intervalo')
else:
  for i in range(4):
    if x > intervalo[i] and x <= intervalo[i+1]:
      print(resp[i])

-25.02
Fora de intervalo

Problem #1038

In [ ]:
x,y = [int(i) for i in input().split()]
cd = [1,2,3,4,5]
pc = [4,4.5,5,2,1.5]
for i in range(5):
  if x == cd[i]:
    res = y*pc[i]
print('Total: R$ {:.2f}'.format(res))

2 5
Total: R$ 22.50

Problem #1040

In [ ]:
n1,n2,n3,n4 = [float(i) for i in input().split()]
med = ((n1*2)+(n2*3)+(n3*4)+(n4*1))/10
print('Media: {:.1f}'.format(med))
if med >= 7: print('Aluno aprovado.')
if med < 5: print('Aluno reprovado.')
if med >=5 and med <= 6.9:
  print('Aluno em exame.')
  n1 = float(input())
  med1 = (med+n1)/2
  print('Nota do exame: {:.1f}'.format(n1))
  if med1 >= 5: print('Aluno aprovado.')
  if med1 < 5: print('Aluno reprovado.')
  print('Media final: {:.1f}'.format(med1))

9 4 8.5 9
Media: 7.3
Aluno aprovado.

Problem #1041

In [ ]:
x,y = [float(i) for i in input().split()]
if x == 0 and y == 0:print('Origem')
if x > 0 and y > 0:print('Q1')
if x < 0 and y > 0:print('Q2')
if x < 0 and y < 0:print('Q3')
if x > 0 and y < 0:print('Q4')
if x == 0 and y != 0:print('Eixo Y')
if x != 0 and y == 0:print('Eixo X')

1 0
Eixo X

Problem #1042

In [ ]:
x=[int(i) for i in input().split()]
y=[]
for i in x:y.append(i)
y.sort()
for i in y:print(i)
print()
for i in x:print(i)

3 2 1
1
2
3

3
2
1

Problem #1043

In [ ]:
a,b,c=[float(i) for i in input().split()]
if a+b>c and a+c>b and c+b>a:print('Perimetro = {:.1f}'.format(a+b+c))
else:print('Area = {:.1f}'.format(((a+b)*c)/2))

6 4 2
Area = 10.0

Problem #1044

In [ ]:
a,b=[int(i) for i in input().split()]
if a%b==0 or b%a==0:print('Sao Multiplos')
else:print('Nao sao Multiplos')

6 25
Nao sao Multiplos

Problem #1045

In [ ]:
sides=sorted([float(i) for i in input().split()])
a=sides[2];b=sides[1];c=sides[0]
if a>=b+c:print('NAO FORMA TRIANGULO')
else:
  if pow(a,2)==pow(b,2)+pow(c,2):print('TRIANGULO RETANGULO')
  if pow(a,2)>pow(b,2)+pow(c,2):print('TRIANGULO OBTUSANGULO')
  if pow(a,2)<pow(b,2)+pow(c,2):print('TRIANGULO ACUTANGULO')
  if a==b==c:print('TRIANGULO EQUILATERO')
  if a==b!=c or a==c!=b or b==c!=a:print('TRIANGULO ISOSCELES')

6 8 10
TRIANGULO RETANGULO

Problem #1046

In [1]:
i = 1
print(i)

1